<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<dcafs>
  <settings>
    <!-- Settings related to the telnet server -->
    <telnet port="23" title="DCAFS">
      <textcolor>lightgray</textcolor>
    </telnet>
    <taskmanager id="pm">tmscripts\pm.xml</taskmanager>
  </settings>
  <rtvals>
    <unit base="s">
      <step cnt="60">m</step>
      <step cnt="60">h</step>
    </unit>
    <unit base="A" div="1000">
      <level max="1000">uA</level>
      <level max="1500">mA</level>
      <level            >A</level>
    </unit>
    <unit base="V" div="1000">
      <level max="1000">uV</level>
      <level max="1500">mV</level>
      <level           >V</level>
    </unit>
    <unit base="W" div="1000">
      <level max="1500">mW</level>
      <level max="1500">W</level>
      <level           >kW</level>
    </unit>
    <unit base="Wh" div="1000">
      <level  max="100"   scale="2" >mWh</level>
      <level  max="1000"  scale="1" >mWh</level>
      <level  max="1500"  scale="2" >Wh</level>
      <level              scale="3" >kWh</level>
    </unit>
  </rtvals>
  <streams>
    <!-- Defining the various streams that need to be read -->
    <stream id="powmon" type="serial">
      <eol>crlf</eol>
      <port>COM8</port>
      <serialsettings>19200,8,1,none</serialsettings>
    </stream>
  </streams>
  <paths>
    <path delimiter=";" id="powmon" import="paths\pm.xml" src="raw:powmon"/>
  </paths>
  <databases>
    <sqlite id="power" path="db\power.sqlite">
      <flush age="30s" batchsize="30"/>
      <idleclose>-1</idleclose>
      <table name="out1">
        <utcnow>timestamp</utcnow>
        <real rtval="o1_voltage">voltage</real>
        <real rtval="o1_current">current</real>
        <real rtval="o1_power">power</real>
        <real rtval="o1_period">period</real>
        <real rtval="o1_energy">energy</real>
      </table>
      <table name="out2">
        <utcnow>timestamp</utcnow>
        <real rtval="o2_voltage">voltage</real>
        <real rtval="o2_current">current</real>
        <real rtval="o2_power">power</real>
        <real rtval="o2_period">period</real>
        <real rtval="o2_energy">energy</real>
      </table>
      <table name="out3">
        <utcnow>timestamp</utcnow>
        <real rtval="o3_voltage">voltage</real>
        <real rtval="o3_current">current</real>
        <real rtval="o3_power">power</real>
        <real rtval="o3_period">period</real>
        <real rtval="o3_energy">energy</real>
      </table>
      <table name="out4">
        <utcnow>timestamp</utcnow>
        <real rtval="o4_voltage">voltage</real>
        <real rtval="o4_current">current</real>
        <real rtval="o4_power">power</real>
        <real rtval="o4_period">period</real>
        <real rtval="o4_energy">energy</real>
      </table>
    </sqlite>
  </databases>
</dcafs>
